<div class="bg-body-tertiary p-5 rounded text-center">
  <h1 class="display-4">Welcome to Fit Fee!</h1>
  <p class="lead">Manage your client payments effortlessly and boost your financial health.</p>
  <div class="mt-4 d-grid gap-2 d-sm-flex justify-content-sm-center">
    <%= link_to 'Add Your First Customer', new_customer_path, class: "btn btn-lg btn-success rounded-pill" %>
  </div>
</div>
