<% if current_user.customers.count.zero? %>

  <%= render "shared/welcome" %>

<% else %>

  <h2 class="pb-2 mb-0">Customers</h2>

  <%= render partial: "customers_table", locals: { customers: @customers } %>

  <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
    <div class="d-grid gap-2">
      <%= link_to "New customer", new_customer_path, class: "btn btn-success" %>
    </div>
  </div>

<% end %>

