<div class="container">
  <h1 class="mt-5">New Customer</h1>

  <%= render "form", customer: @customer %>

  <div class="mt-3">
    <%= link_to "Back to customers", customers_path, class: "btn btn-secondary" %>
  </div>
</div>
