<div class="bg-white">
  <h1 class="display-1 text-success">Empower Fitness, Simplify Finances</h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted mt-4 p-5" style="text-align: left;">
    Transform your fitness business with our app, designed to streamline client payment management effortlessly. Say goodbye to missed payments and financial mix-ups, and hello to seamless transactions. Elevate your training experience by focusing on what truly matters—your clients' success. It's time to enhance financial transparency and efficiency in your fitness journey.
  </p>
  <div class="d-flex justify-content-center mt-4">
    <%= link_to "Get Started", payments_path, class: "btn btn-success btn-lg px-4 rounded-pill" %>
  </div>
</div>
